<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a Raleigh transplant from Cleveland, OH. I just love building websites and apps that are functional, fun, and improve the lives of everyone who uses them. I graduated from Tech Talent South, a full stack coding bootcamp, in November 2016. Since then, I have been working on a few personal projects as well as starting my blog.</p>
                </div>
                <div class="col-lg-4">
                    <p>Other than coding, I love my dogs, reading books (personal development is my thing), and exploring the world. I have been a driver for Uber & Lyft for two years, and I thouroughly enjoy talking to drunk people and getting them home safe. It's way more entertaining than it sounds!</p>
                </div>
            </div>
        </div>
    </section>